###### Patching Event Service with Kustomize ######
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Bring in the Blueprints
resources:
  - ../../base/backends # The Spring Boot App
  - ../../base/databases # The Postgres DB

# Patching Resources
patches:
  # INLINE PATCH: Configure Backend Deployment (Rename + Port + Sync Wave)
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: backend-app
    patch: |-
      - op: replace
        path: /metadata/name
        value: event-service 
      - op: replace
        path: /spec/template/spec/containers/0/ports/0/containerPort
        value: 8082
      - op: replace
        path: /metadata/annotations/argocd.argoproj.io~1sync-wave
        value: "1"

  # INLINE PATCH: Configure Database StatefulSet (Rename Only)
  - target:
      group: apps
      version: v1
      kind: StatefulSet
      name: database
    patch: |-
      - op: replace
        path: /metadata/name
        value: eventdb-pgsql

  # INLINE PATCH: Configure Backend Service (Rename + Fix Port)
  - target:
      version: v1
      kind: Service
      name: backend-app
    patch: |-
      - op: replace
        path: /metadata/name
        value: event-service-svc
      - op: replace
        path: /spec/selector/app
        value: event-service
      - op: replace
        path: /spec/ports/0/port
        value: 8082
      - op: replace
        path: /spec/ports/0/targetPort
        value: 8082

  # INLINE PATCH: Configure Database Service (Rename)
  - target:
      version: v1
      kind: Service
      name: database
    patch: |-
      - op: replace
        path: /metadata/name
        value: eventdb-svc
      - op: replace
        path: /spec/selector/app
        value: eventdb-pgsql

  # FILE PATCHES: Content Updates (Env Vars, Images)
  - path: patch-backend.yaml
    target:
      kind: Deployment
      name: backend-app
  - path: patch-db.yaml
    target:
      kind: StatefulSet
      name: database

  # INLINE PATCH: Backend HPA Configuration (Rename)
  - target:
      kind: HorizontalPodAutoscaler
      name: hpa-backend
    patch: |-
      - op: replace
        path: /metadata/name
        value: event-hpa-backend
      - op: replace
        path: /spec/scaleTargetRef/name
        value: event-service
