###### Kustomization Template for Development Environment ######
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: env-dev

# Aggregate all the Components
resources:
  - ../../components/user-service
  - ../../components/event-service
  - ../../components/booking-service
  - ../../components/ticketing-service
  - ../../components/notification-service
  - ../../components/audit-service
  - ../../components/frontend

# -----------------------------------------------------------------
# IMAGE MANAGEMENT
# -----------------------------------------------------------------
images:
  - name: helabooking/user-service
    newTag: dev-9b228eb
  - name: helabooking/event-service
    newTag: dev-9b228eb
  - name: helabooking/booking-service
    newTag: dev-f32fccc
  - name: helabooking/ticketing-service
    newTag: dev-9b228eb
  - name: helabooking/notification-service
    newTag: dev-9b228eb
  - name: helabooking/audit-service
    newTag: dev-9b228eb
  - name: helabooking/frontend
    newTag: dev-135b233

# -----------------------------------------------------------------
# PATCH MANAGEMENT
# -----------------------------------------------------------------
patches:
  # Environment Variables Patch (Targets all Backends)
  - path: patch-env.yaml
    target:
      kind: Deployment
      name: "user-service|event-service|booking-service|ticketing-service|notification-service|audit-service"

  # Frontend Resources (Target by Name matches automatically)
  - path: patch-frontend.yaml

  # Backend Resources (Targets all Backends)
  - path: patch-backends.yaml
    target:
      kind: Deployment
      name: "user-service|event-service|booking-service|ticketing-service|notification-service|audit-service"

  # Database Resources (Targets all Databases)
  - path: patch-databases.yaml
    target:
      kind: StatefulSet
      name: "userdb-pgsql|eventdb-pgsql|bookingdb-pgsql|ticketingdb-pgsql|notificationdb-pgsql|auditdb-pgsql"

# -----------------------------------------------------------------
# COMMON LABELS
# -----------------------------------------------------------------
# Global Labels (Optional but recommended for querying)
labels:
  - pairs:
      environment: dev
