###### Kustomization Template for Development Environment ######
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: env-dev

# Aggregate all the Components
resources:
- ../../components/user-service
- ../../components/event-service
- ../../components/booking-service
- ../../components/ticketing-service
- ../../components/notification-service
- ../../components/audit-service
- ../../components/frontend
- ../../base/ingress

# -----------------------------------------------------------------
# IMAGE MANAGEMENT
# -----------------------------------------------------------------
images:
- name: helabooking/audit-service
  newName: harbor.management.ezbooking.lk/helabooking/audit-service
  newTag: dev-acb8c3b
- name: helabooking/booking-service
  newName: harbor.management.ezbooking.lk/helabooking/booking-service
  newTag: dev-acb8c3b
- name: helabooking/event-service
  newName: harbor.management.ezbooking.lk/helabooking/event-service
  newTag: dev-e05fbde
- name: helabooking/frontend
  newName: harbor.management.ezbooking.lk/helabooking/frontend
  newTag: dev-927c497
- name: helabooking/notification-service
  newName: harbor.management.ezbooking.lk/helabooking/notification-service
  newTag: dev-acb8c3b
- name: helabooking/ticketing-service
  newName: harbor.management.ezbooking.lk/helabooking/ticketing-service
  newTag: dev-acb8c3b
- name: helabooking/user-service
  newName: harbor.management.ezbooking.lk/helabooking/user-service
  newTag: dev-e05fbde

# -----------------------------------------------------------------
# PATCH MANAGEMENT
# -----------------------------------------------------------------
# Ingress Patch (Target by Name matches automatically)
# Environment Variables Patch (Targets all Backends)
# Frontend Resources (Target by Name matches automatically)
# Backend Resources (Targets all Backends)
# Database Resources (Targets all Databases)
patches:
- path: patch-ingress.yaml
  target:
    kind: Ingress
    name: helabooking-app-ingress
- path: patch-env.yaml
  target:
    kind: Deployment
    name: user-service|event-service|booking-service|ticketing-service|notification-service|audit-service
- path: patch-frontend.yaml
- path: patch-backends.yaml
  target:
    kind: Deployment
    name: user-service|event-service|booking-service|ticketing-service|notification-service|audit-service
- path: patch-databases.yaml
  target:
    kind: StatefulSet
    name: userdb-pgsql|eventdb-pgsql|bookingdb-pgsql|ticketingdb-pgsql|notificationdb-pgsql|auditdb-pgsql

# -----------------------------------------------------------------
# COMMON LABELS
# -----------------------------------------------------------------
# Global Labels (Optional but recommended for querying)
labels:
- pairs:
    environment: dev
