###### Patching Ticketing Service with Kustomize ######
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Bring in the Blueprints
resources:
  - ../../base/backends # The Spring Boot App
  - ../../base/databases # The Postgres DB

# Rename Resources (Standardizing names)
patches:
  - path: patch-backend.yaml
    target:
      group: apps
      version: v1
      kind: Deployment
      name: backend-app
  - path: patch-db.yaml
    target:
      group: apps
      version: v1
      kind: StatefulSet
      name: database
  - path: patch-services.yaml
    target:
      version: v1
      kind: Service
